.index-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.index-index {
  width: 100%;
  height: 903px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 1);
}
.index-sem-ttulo11 {
  top: 162.5px;
  left: 65px;
  width: 800px;
  height: 645px;
  position: absolute;
}
.index-rectangle2 {
  top: 254px;
  left: 55.22222900390625px;
  width: 190px;
  height: 154px;
  position: absolute;
  border-radius: 20px;
}
.index-amarelo1 {
  top: 268px;
  left: 72.22222900390625px;
  width: 33px;
  height: 32px;
  position: absolute;
}
.index-rosa1 {
  top: 312.5px;
  left: 71.22222900390625px;
  width: 33px;
  height: 32px;
  position: absolute;
}
.index-verde1 {
  top: 357px;
  left: 71.22222900390625px;
  width: 33px;
  height: 32px;
  position: absolute;
}
.index-text {
  top: 278.5px;
  left: 110.22222900390625px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-text02 {
  top: 322px;
  left: 110.22222900390625px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-text04 {
  top: 366px;
  left: 110.22222900390625px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-image3 {
  top: 125px;
  left: 14.22222900390625px;
  width: 218px;
  height: 115px;
  position: absolute;
}
.index-text06 {
  top: 341px;
  color: rgba(0, 0, 0, 1);
  right: 70px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-rectangle3 {
  top: 453px;
  left: 918px;
  width: 113px;
  height: 53px;
  position: absolute;
  border-radius: 10px;
}
.index-rectangle4 {
  top: 547px;
  left: 913px;
  width: 118px;
  height: 62px;
  position: absolute;
  border-radius: 10px;
}
.index-rectangle5 {
  top: 656px;
  left: 913px;
  width: 118px;
  height: 62px;
  position: absolute;
  border-radius: 10px;
}
.index-rectangle6 {
  left: 913px;
  width: 118px;
  bottom: 76px;
  height: 62px;
  position: absolute;
  border-radius: 10px;
}
.index-image4 {
  top: 428px;
  left: 889px;
  width: 59px;
  height: 88px;
  position: absolute;
}
.index-image7 {
  left: 887px;
  width: 64px;
  bottom: 67px;
  height: 87px;
  position: absolute;
}
.index-text10 {
  top: 468px;
  left: 947px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-text12 {
  top: 564px;
  left: 942px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-text14 {
  top: 673px;
  left: 944px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-text16 {
  left: 945px;
  color: rgba(0, 0, 0, 1);
  bottom: 95px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-image6 {
  top: 635px;
  left: 887px;
  width: 66px;
  height: 89px;
  position: absolute;
}
.index-image5 {
  top: 534px;
  left: 880px;
  width: 68px;
  height: 89px;
  position: absolute;
}
.index-vector1 {
  top: 454.4603271484375px;
  left: 1058.0535888671875px;
  width: 111px;
  height: 13px;
  position: absolute;
}
.index-text18 {
  color: rgba(0, 0, 0, 1);
  right: 111px;
  bottom: 91px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-rectangle1 {
  top: 0px;
  left: 0px;
  width: 1598px;
  height: 112px;
  position: absolute;
}
.index-e8515cd98e145476495782316afd7c49a5c5d2911 {
  top: 3.92132568359375px;
  left: 19.5555419921875px;
  width: 268px;
  height: 83px;
  position: absolute;
}
.index-image2 {
  top: 28.94415283203125px;
  left: 1124.0709228515625px;
  width: 31px;
  height: 31px;
  position: absolute;
}
.index-image109000251 {
  top: 27.14593505859375px;
  left: 1182px;
  width: 41px;
  height: 34px;
  position: absolute;
}
.index-text24 {
  top: 34.5482177734375px;
  left: 407.55560302734375px;
  color: rgba(94, 94, 94, 1);
  width: 52px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-text26 {
  top: 34.5482177734375px;
  left: 578.6666870117188px;
  color: rgba(94, 94, 94, 1);
  width: 123px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-text28 {
  top: 34.5482177734375px;
  left: 819.22216796875px;
  color: rgba(94, 94, 94, 1);
  width: 80px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-banne1r1 {
  top: 135px;
  right: 86px;
  width: 356px;
  height: 171px;
  position: absolute;
  border-radius: 10px;
}
.index-text30 {
  top: 453px;
  color: rgba(0, 0, 0, 1);
  right: 112px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-text36 {
  top: 541px;
  color: rgb(0, 0, 0);
  right: 97px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: "Roboto";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-text44 {
  top: 656px;
  color: rgb(0, 0, 0);
  right: 92px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: "Roboto";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
